.App {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.controls {
  width: 40vw;
}

.box {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 50vh;
  background-color: salmon;
  border-radius: 1%;
  color: white;
  justify-content: center;
  align-items: center;
}

.css-output {
  font-weight: bold;
}
